Repository Divya3129/json, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci

task 2 - 4358
  include/nlohmann/detail/conversions/from_json.hpp
  single_include/nlohmann/json.hpp
Labels: none

partial fix for #4358
  include/nlohmann/detail/conversions/from_json.hpp
  single_include/nlohmann/json.hpp
Labels: none

:construction_worker: use GCC image for GCC test
  .github/workflows/ubuntu.yml
Labels: ci

:wrench: adjust flags
  cmake/ci.cmake
Labels: none

:construction_worker: adjust jobs
  .github/workflows/ubuntu.yml
Labels: ci

:construction_worker: adjust jobs
  .github/workflows/ubuntu.yml
Labels: ci

optional: use #if instead of #ifndef, fixes #3859
  include/nlohmann/detail/conversions/from_json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-conversions.cpp
Labels: none

change NLOHMANN_JSON_FROM_WITH_DEFAULT to let NLOHMANN_DEFINE_TYPE_INTRUSIVE_WITH_DEFAULT work with an empty JSON instance
  include/nlohmann/detail/macro_scope.hpp
Labels: none

Potential fix to previous commit
  include/nlohmann/detail/conversions/from_json.hpp
  single_include/nlohmann/json.hpp
Labels: none

BJData draft3 flag
  docs/mkdocs/docs/api/basic_json/to_bjdata.md
  docs/mkdocs/docs/features/binary_formats/bjdata.md
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-bjdata.cpp
Labels: documentation

First working solution
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
Labels: none

Tidying up the code
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/meta/type_traits.hpp
Labels: none

Add the amalgamated files
  include/nlohmann/detail/conversions/from_json.hpp
  single_include/nlohmann/json.hpp
Labels: none

.github/labeler.yml:

documentation:
  - 'README.md'
  - 'docs/*'
  - 'docs/**/*'

ci:
  - '.github/workflows/*'
  - '.github/external_ci/*'
