Repository Divya3129/json, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci

.github/labeler.yml:

documentation:
  - 'README.md'
  - 'docs/*'
  - 'docs/**/*'

ci:
  - '.github/workflows/*'
  - '.github/external_ci/*'

ran make amalgamate
  single_include/nlohmann/json.hpp
Labels: none

Update tests/src/unit-deserialization.cpp
  tests/src/unit-deserialization.cpp
Labels: none

Update tests/src/unit-deserialization.cpp
  tests/src/unit-deserialization.cpp
Labels: none

Update input adapters.hpp with new includes
  include/nlohmann/detail/input/input_adapters.hpp
Labels: none

fix unabigious use of _, (there was a double declare)
  tests/src/unit-deserialization.cpp
Labels: none

did the amalagamate
  single_include/nlohmann/json.hpp
Labels: none

rm duplicate includes
  include/nlohmann/detail/input/input_adapters.hpp
Labels: none

make amalgamate again
  single_include/nlohmann/json.hpp
Labels: none

reorder
  include/nlohmann/detail/input/input_adapters.hpp
Labels: none

amalgamate
  single_include/nlohmann/json.hpp
Labels: none

moved it above
  include/nlohmann/detail/input/input_adapters.hpp
Labels: none

amalgamate
  single_include/nlohmann/json.hpp
Labels: none

:white_check_mark: fix test
  tests/src/unit-regression2.cpp
Labels: none

:white_check_mark: fix test
  tests/src/unit-regression2.cpp
Labels: none

:white_check_mark: fix test
  tests/src/unit-regression2.cpp
Labels: none

:white_check_mark: skip enum tests when JSON_DisableEnumSerialization=ON
  CMakeLists.txt
  tests/src/unit-conversions.cpp
  tests/src/unit-noexcept.cpp
  tests/src/unit-regression1.cpp
  tests/src/unit-udt.cpp
Labels: none

:white_check_mark: skip enum tests when JSON_DisableEnumSerialization=ON
  tests/src/unit-conversions.cpp
  tests/src/unit-noexcept.cpp
  tests/src/unit-regression1.cpp
  tests/src/unit-udt.cpp
Labels: none

fix: integer parsed as float when EINTR set in errno
  include/nlohmann/detail/input/lexer.hpp
Labels: none

chore: make amalgamate
  single_include/nlohmann/json.hpp
Labels: none

chore: make pretty
  single_include/nlohmann/json.hpp
Labels: none

:bug: make SAX output locale-independent #4084
  .github/workflows/ubuntu.yml
  tests/thirdparty/doctest/doctest.h
Labels: ci

:bug: make SAX output locale-independent #4084
  .github/workflows/ubuntu.yml
Labels: ci

:bug: make SAX output locale-independent #4084
  .github/workflows/ubuntu.yml
Labels: ci

:bug: make SAX output locale-independent #4084
  .github/workflows/ubuntu.yml
Labels: ci

:bug: make SAX output locale-independent #4084
  .github/workflows/ubuntu.yml
Labels: ci

:bug: allow comparing default initialized iterators #4493
  include/nlohmann/detail/iterators/iter_impl.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-iterators3.cpp
Labels: none

:bug: allow comparing default initialized iterators #4493
  tests/src/unit-iterators3.cpp
Labels: none

:memo: update documentation
  include/nlohmann/detail/iterators/iter_impl.hpp
  single_include/nlohmann/json.hpp
Labels: none

:recycle: clean up
  include/nlohmann/detail/iterators/iter_impl.hpp
  single_include/nlohmann/json.hpp
Labels: none

:fire: remove deprecated macos-12 runners
  .github/workflows/macos.yml
  README.md
Labels: documentation, ci

:recycle: clean up
  include/nlohmann/detail/iterators/iter_impl.hpp
  single_include/nlohmann/json.hpp
Labels: none

:memo: update comment
  include/nlohmann/detail/iterators/iter_impl.hpp
  single_include/nlohmann/json.hpp
Labels: none

multibyte binary reader
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/input_adapters.hpp
Labels: none

wide_string_input_adapter fallback to get_character
  include/nlohmann/detail/input/input_adapters.hpp
Labels: none

Update json.hpp
  single_include/nlohmann/json.hpp
Labels: none

Add from msgpack test
  tests/benchmarks/src/benchmarks.cpp
Labels: none

Test for broken msgpack with stream, address some warnings
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/input_adapters.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-msgpack.cpp
Labels: none

Reading binary number from wchar as an error, address warnings
  include/nlohmann/detail/input/input_adapters.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-msgpack.cpp
Labels: none

Not casting float to int, it violates strict aliasing rule
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
Labels: none

:page_facing_up: update licenses
  single_include/nlohmann/json.hpp
  single_include/nlohmann/json_fwd.hpp
Labels: none
