Repository Divya3129/json, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci

Allow ordered_json in NLOHMANN_DEFINE_TYPE_NON_INTRUSIVE macro
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
Labels: none

doc: Fix JSON Pointer example to use direct initialization
  docs/mkdocs/docs/features/json_pointer.md
Labels: documentation

Update is_structured.md
  docs/mkdocs/docs/api/basic_json/is_structured.md
Labels: documentation

Add missing #includes based on C++ language server.
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_chars.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/exceptions.hpp
  include/nlohmann/detail/hash.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/detail/input/lexer.hpp
  include/nlohmann/detail/input/parser.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  include/nlohmann/detail/iterators/primitive_iterator.hpp
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/detail/meta/call_std/begin.hpp
  include/nlohmann/detail/meta/call_std/end.hpp
  include/nlohmann/detail/meta/cpp_future.hpp
  include/nlohmann/detail/meta/detected.hpp
  include/nlohmann/detail/meta/std_fs.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/detail/output/output_adapters.hpp
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/detail/string_concat.hpp
  include/nlohmann/detail/value_t.hpp
  include/nlohmann/json.hpp
  include/nlohmann/ordered_map.hpp
  tests/src/fuzzer-parse_bjdata.cpp
  tests/src/fuzzer-parse_bson.cpp
  tests/src/fuzzer-parse_cbor.cpp
  tests/src/fuzzer-parse_json.cpp
  tests/src/fuzzer-parse_msgpack.cpp
  tests/src/fuzzer-parse_ubjson.cpp
Labels: none

Run make amalgamate
  single_include/nlohmann/json.hpp
Labels: none

Revise: Include only one of abi_macros or macro_scope.
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_chars.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/exceptions.hpp
  include/nlohmann/detail/hash.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/detail/input/lexer.hpp
  include/nlohmann/detail/input/parser.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  include/nlohmann/detail/iterators/primitive_iterator.hpp
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/meta/call_std/begin.hpp
  include/nlohmann/detail/meta/call_std/end.hpp
  include/nlohmann/detail/meta/cpp_future.hpp
  include/nlohmann/detail/meta/std_fs.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/detail/output/output_adapters.hpp
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/detail/value_t.hpp
  include/nlohmann/json.hpp
  include/nlohmann/ordered_map.hpp
Labels: none

Run make amalgamate
  include/nlohmann/detail/input/json_sax.hpp
  single_include/nlohmann/json.hpp
Labels: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

Possible fix for #4485
  include/nlohmann/json.hpp
  tests/src/unit-concepts.cpp
Labels: none

quick cleanup
  include/nlohmann/json.hpp
  tests/src/unit-concepts.cpp
Labels: none

Fix compile issues
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/json.hpp
Labels: none

moved tests around, changed exceptions, removed a possibly unneeded include
  include/nlohmann/detail/input/input_adapters.hpp
  tests/src/unit-concepts.cpp
  tests/src/unit-deserialization.cpp
Labels: none

add back include <memory> for testing something
  include/nlohmann/detail/input/input_adapters.hpp
Labels: none

Ninja doesn't like not having a \n, at end of file, adding it back
  tests/src/unit-concepts.cpp
Labels: none

:green_heart: update actions
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  Makefile
  README.md
Labels: documentation, ci

:rotating_light: fix warning
  .clang-tidy
  include/nlohmann/detail/conversions/to_chars.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: none

:rotating_light: fix warning
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: none

Make iteration_proxy_value model forward_iterator
  include/nlohmann/detail/iterators/iteration_proxy.hpp
Labels: none

Amalgamate
  single_include/nlohmann/json.hpp
Labels: none

:construction: conversions for std::optional
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-conversions.cpp
Labels: none

:green_heart: overwork tests
  tests/src/unit-conversions.cpp
Labels: none

:checkered_flag: fix <optional> inclusion
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  single_include/nlohmann/json.hpp
Labels: none

Use JSON_HAS_CPP_17 only after it has been defined
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
Labels: none

:white_check_mark: update tests
  tests/src/unit-conversions.cpp
Labels: none

:checkered_flag: include right <optional> header
  tests/src/unit-conversions.cpp
Labels: none

:recycle: do not include experimental headers
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
Labels: none

Add missing #endif after rebase
  include/nlohmann/detail/macro_scope.hpp
Labels: none

Fix failing test
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-conversions.cpp
Labels: none

Only define conversion to std::optional when JSON_USE_IMPLICIT_CONVERSION is disabled.
  include/nlohmann/detail/conversions/from_json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-conversions.cpp
Labels: none

missing endif
  include/nlohmann/detail/macro_scope.hpp
Labels: none

Remove Wfloat-equal suppress
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
Labels: none

amalgamate
  single_include/nlohmann/json.hpp
Labels: none

Move include of optional out of macro_scope; probably does not make sense to be there
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
Labels: none

Make clang-tidy happy
  tests/src/unit-readme.cpp
Labels: none

Suppress lint instead of changing to 'contains'
  tests/src/unit-readme.cpp
Labels: none

Suppress tidy warning
  tests/src/unit-readme.cpp
Labels: none

:rotating_light: suppress warnings in NLOHMANN_JSON_SERIALIZE_ENUM #3924
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
Labels: none

update input_adapter file to deal with empty/null file ptr.
  include/nlohmann/detail/input/input_adapters.hpp
Labels: none

ran make pretty
  include/nlohmann/detail/input/input_adapters.hpp
  tests/src/unit-deserialization.cpp
Labels: none

added test for inputadapter
  include/nlohmann/detail/input/input_adapters.hpp
  tests/src/unit-deserialization.cpp
Labels: none

.github/labeler.yml:

documentation:
  - 'README.md'
  - 'docs/*'
  - 'docs/**/*'

ci:
  - '.github/workflows/*'
  - '.github/external_ci/*'
